
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">menu</mat-icon>
    <span>AWO</span>
    <span class="example-spacer"></span>
    <button routerLink="/admin" mat-fab matTooltip="Admin">
      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">account_box</mat-icon>
    </button>
    <button routerLink="/login" mat-fab matTooltip="Sign in">
      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">account_circle</mat-icon>
    </button>
    <button routerLink="/register" mat-fab matTooltip="Sign up">
      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">person_add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
