
<br/>
<br/>
<br/>
<br/>
<br/>
<mat-sidenav-container class='sidenav-container'>
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
    <mat-nav-list>
      <mat-list-item>
        Item 1
        <mat-icon matListIcon>folder</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 3</mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <div class="sidenav-content">
    <mat-card>Content1</mat-card>
    <mat-card>Content2</mat-card>
    <mat-card>Content3</mat-card>
  </div>
</mat-sidenav-container>
